{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-root></app-root>
  
    <script src="{% static 'scripts/frontend/dist/frontend/runtime.js' %}"></script>
    <script src="{% static 'scripts/frontend/dist/frontend/polyfills.js' %}"></script>
    <script src="{% static 'scripts/frontend/dist/frontend/styles.js' %}"></script>
    <script src="{% static 'scripts/frontend/dist/frontend/vendor.js' %}"></script>
    <script src="{% static 'scripts/frontend/dist/frontend/main.js' %}"></script>
</body>
</html>